@CHARSET "UTF-8";

dl.usc_shipping_details
{
    float: left;
    width: 90%;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    font-size: 12px
}

.usc_shipping_details dt
{
    clear: left;
    float: left;
    width: 70%;
    margin: 0;
    padding: 5px;
    border-top: 0px solid #999;
    font-weight: bold;
}

.usc_shipping_details dd
{
    float: left;
    width: 20%;
    margin: 0;
    padding: 5px;
    border-top: 0px solid #999;
    text-align: right;
}

div#usc_pickup_text
{
    float: left;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin: 1em 0;
    width: 90%;
    font-size: 12px;
}

#usc_update_shipping_options {
    clear:both;
    float:left;
}
